/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* cuộn trang */
    scroll-behavior: smooth;
    /* thay đổi phông chữ cho all các thẻ chứa chữ */
    font-family: Arial, Helvetica, sans-serif;
}
/* 1. Vị trí
    2. Kích thước
    3. Màu sắc
    4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...) */
.clear{
    clear: both;
    /* giải quyết lỗi của float */
}
.text-white{
    color: #fff !important;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}
.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block; 
    margin-top: 15px;
    font-size: 15px;
    border: none;
}
.btn:hover{
    color: #000;
    background-color: #ccc ;
    cursor: pointer;
}
.pull-right{
    float:right !important;
}
#main{

}

#header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 46px;
    background-color: #000;
    /* z-index: 1 2 3 4; quy định cụ thể trình tự ngăn xếp của một phần tử.
    Phần tử có thứ tự ngăn xếp lớn hơn luôn đứng trước phần tử có thứ tự ngăn xếp thấp hơn.*/
    z-index: 1;
    /* ẩn thẻ con tràn khỏi thẻ cha */
    /* overflow: hidden;  */
}
#nav, .subnav{
    list-style-type: none;
}
#nav{
    display: inline-block;
}

#nav li{
    /* inline-block: trên một dòng và giữ lại tính chất khối */
    position: relative;
}
#nav > li{
    display: inline-block;
}
#nav >li> a{
   color: #fff;
   text-transform: uppercase;
}
#nav li:hover .subnav{
    display: block;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
     display: block; 

}
#nav .subnav li:hover,
#nav > li:hover> a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none; 
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    /* bóng đổ: trục x, trục y, lan tỏa */
    box-shadow: 0 0 10px;
}
#nav .subnav li{
    width: 100%;
}
#nav .subnav a{
    color: #000;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu-btn,
#header .search{
    float: right;
    padding: 0px 21px; 
}
#header .search:hover{ 
    /* cursor: pointer; thay đổi hình dạng con trỏ chuột */
    cursor: pointer;
     background-color: #f44336;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
   
}
#slider{
     position: relative; 
    margin-top:46px;
   /* =50% chiều ngang của nó  */
     padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position:absolute;
    color:#fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-descript{
    margin-top: 25px;
    font-size: 15px;
    margin-bottom: 32px;
}

#content{

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 97px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    /* letter-spacing: 4px; khoảng cách giữa các các chữ*/
    letter-spacing: 5px;
}
#content .section-sub-heading{
    /* text-align: căn dòng; */
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* opacity: 0.6; độ mờ của chữ */
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    /* line-height: 1.4 1.6; độ cao của một dòng */
    line-height: 1.4;
}
#content .members-list{
    margin-top: 47px;
}
#content .member-item{
     float: left; /*chạy trên 1 dòng */
     width: calc(100% / 3);
     text-align: center;
}
#content .member-name{
    font-size: 15px;
   
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
     border-radius:4px;/* góc bo ảnh */
}
/* tour section */
.tour-section{
    background-color: #000;
   
}
.tickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sout-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: #fff;
    /* border-radius: hình dạng tròn ; */
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
     margin-top: -3px; /*chỉ dùng được khi có float */
}
/* place */
.places-list{
    /* margin: 32px -8px 0; */
     margin-top: 32px;
     margin-left: -8px;
     margin-right: -8px ; 
     margin-bottom: 48px;
}
.place-item{
    float: left;
    width: 33.3333333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .4s;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    font-weight: 700;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}
header.modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-deading-icon{
    margin-right: 16px;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}
#buy-tickets:hover {
    opacity: 0.9;
    color: #000;
    background-color: #ccc;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color:#2196F3;
}
/* contact-content */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info p i{
    width: 30px;
    display: inline-block; 
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-info a{
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}

.map-section img{
    width: 100%;
}
/* CSS Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list{
    font-size: 24px;

}
#footer .socials-list a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}
#footer .socials-list a:hover {
    color: rgba(0,0,0,0.4);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}
#footer .copyright a{
    color: rgba(0,0,0,0.6);
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#header .mobile-menu-btn{
    display: none;
}
